<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mlforall.NewBezelServices</string>
	<key>Program</key>
	<string>/Library/Services/NewBezelServices.app/Contents/MacOS/NewBezelServices</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.OSDUIHelper</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>ProcessType</key>
	<string>App</string>
</dict>
</plist>
