<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-07-11T03:09:20Z</date>
	<key>WorkspacePath</key>
	<string>../../NewBezelServices.xcodeproj</string>
</dict>
</plist>
